*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .footer{
    /* background: linear-gradient(black,rgb(124, 114, 114),black); */
    padding: 70px 0px;
    width: 100vw;
  }
  
  .contain{
      max-width: 1170px;
      /* background: red; */
      margin: auto;
  }
  ul{
      list-style: none;
  }
  .row{
      display: flex;
      flex-wrap: wrap;
  }
  .footer-col{
      width: 25%;
      padding: 0px 15px;
  }
  .footer-col h4{
      font-size: 18px;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 30px;
      font-weight: 500;
      position: relative;
  }
  .footer-col h4::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: #e91e63;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
  }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
    }
  .footer-col ul li a{
      font-size: 16px;
      text-transform: capitalize;
      color: #ffffff;
      text-decoration: none;
      font-weight: 300;
      display: block;
      transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    margin-left: 12px;
  }
  h4:hover{
      transform: scale(1.1);
      /* margin-top: 10px; */
  }
  i{
    height: 10px;
    width: 10px;
}
  .social-links img{
    width: 30px;
    height: 30px;
    gap: 10px;
  }
  
  .social-links img:hover{
      transform: scale(1.1);
  }